{% extends 'templates/default.twig' %}

{% block title %}home{% endblock %}

{% block js %}
        <script src="{{ strap.baseUrl }}/api/javascript/functions/comments&amp;posts.js"></script>    
        <script src="{{ strap.baseUrl }}/api/javascript/home_member.js"></script>    
        <script src="{{ strap.baseUrl }}/api/javascript/functions/like.js"></script>    
        <script src="{{ strap.baseUrl }}/api/javascript/functions/statusUpdate.js"></script>    
        <script src="{{ strap.baseUrl }}/api/javascript/functions/scale/resize.js"></script>    
        <script src="{{ strap.baseUrl }}/api/javascript/functions/ajax/ajax.js"></script>    
        <script src="{{ strap.baseUrl }}/api/javascript/functions/interact/friendRequests.js"></script>    
    {% endblock %}
        
    {% block customCss %}
    <link href="{{ strap.baseUrl }}/api/views/css/includes/navigation/navigation_member.css" rel="stylesheet">
    <link href="{{ strap.baseUrl }}/api/views/css/home/home_member.css" rel="stylesheet">
    {% endblock %}

{% block main_content %}
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
        <aside class="sideContainer">
          <a href="{{ strap.urlZa('messages') }}">
             <div class="sideItem">
               <i class="glyphicon glyphicon-envelope msgIcon"></i>
               <span class="title">messages</span>

               {% if numberOfMessages %}<div class="littleNumber">{{ numberOfMessages }}</div>{% endif %}
             </div>
          </a>

          <a href="{{ strap.urlZa('profil.friendRequests') }}">
            <div class="sideItem">
              <img src="{{ strap.baseUrl }}/public/images/default/friends.png" class="icon" alt="icon">
              <span class="title">friend requests</span>
               {% if numberOfRequests %}<div class="littleNumber requestNumber">{{ numberOfRequests }}</div>{% endif %}
            </div>
        </a>
        </aside>
    </div>
    <div class="col-sm-7">
        <div class="mainContainer">
            <input type="hidden" name="csrfToken" id="csrfToken" value="{{ strap.csrfToken }}">
            {% include 'parts/statusUpdate.twig' %}
            {% include 'parts/posts.twig' %}
        </div>
    </div>   
{% endblock %} 