         <div class="comments" data-post="{{ post.ownId }}">
              {% for opinion in post.comments %}
                  <div class="opinion">
                    <div class="userImage">
                      <img src="{% if opinion.userImage %}{{ opinion.userImage }}
                                {% else %} {{ strap.defaultUser }}  
                                {% endif %}
                      " alt="user image">
                    </div>
                    <div class="commentInfo">
                       <div class="userName">
                        <a href="{{ strap.baseUrl }}/profile?id={{ opinion.userId }}">{{ opinion.username }}</a>
                       </div>             
                       <div class="comment_content">                                 
                         <div class="tekst">
                          {{ opinion.tekst }}
                         </div>
                       </div>                              
                       <div class="commentInteraction">
<!--gumb za like nekog komentara-->
                          <button onclick ="meLikey(this);" class="likeBtn {% if opinion.liked %}liked{% else %}noLike{% endif %}" data-contentId="{{ opinion.ownId }}">
                            <span></span>
                          </button> 
                          <button class="replyBtn" data-contentid="{{ opinion.ownId }}">reply</button> 
                          <span><small class="small">{{ opinion.creation }}</small></span>
                       </div>
                    </div>
                    <div class="replies" data-commentId="{{ opinion.ownId }}">
                      {% for reply in opinion.replies %}
                          <div class="reply">
                            <div class="userImage">
                              <img src="{% if reply.userImage %}{{ strap.baseUrl }}{{ reply.userImage }}
                                        {% else %}{{ strap.baseUrl }}/public/images/default/defaultUser.png
                                        {% endif %}" 
                            alt="user image">
                            </div>
                            <div class="commentInfo">
                              <div class="userName">
                              <a href="{{ strap.baseUrl }}/profile?id={{ opinion.userId }}">{{ reply.username }}</a>       
                              </div>             
                              <div class="comment_content">                                 
                                <div class="tekst">
                                  {{ reply.tekst }}
                                </div>
                              </div>                              
                              <div class="commentInteraction">
 <!--gumb za like nekog reply-ja-->
                                 <button href="#" onclick="meLikey(this);" class="likeBtn  {% if reply.liked %}liked{% else %}noLike{% endif %}" data-contentId="{{ reply.ownId }}">
                                   <span></span>
                                 </button>
                                 <button class="replyBtn" data-contentId="{{ opinion.ownId }}">reply</button>
<!--doradi prikaz vremena-->           <span><small class="small">prije 2 sata</small></span>
                              </div>
                            </div>
                          </div>
                      {% endfor %}
                  <!--reply na komentar-->    
                      <div class="reply hide">
                        <div class="userImage">
                          <img src="{% if user.userImage %}{{ strap.baseUrl }}{{ user.userImage }}
                                    {% else %}{{ strap.baseUrl }}/public/images/default/defaultUser.png
                                    {% endif %}" 
                            alt="user image">
                        </div>
                        <div class="replyAreaContainer">                                    
                          <textarea class="replyArea" data-commentId="{{ opinion.ownId }}" cols="30" rows="2" placeholder="reply"></textarea>
                        </div>                                 
                      </div>                              
                    </div>
                  </div>
              {% endfor %} 
              <div class="komentisi">
                <div class="opinion">
                  <div class="userImage">
                    <img src="
                    {% if user.picture %}{{ user.picture }}{% else %}{{ strap.baseUrl }}/public/images/default/defaultUser.png
                    {% endif %}" 
                    alt="user_picture">
                  </div>
                  <div class="commentInfo">
                    <textarea data-postId="{{ post.ownId }}" class="opinionArea" cols="60" rows="5" placeholder="komentiraj..."></textarea>
                  </div>
                </div>
              </div>
         </div>