<div class="posts" id="posts">
            {% for post in posts %}           
               <div class="post">   
                     <div class="userInfo">
                       <div class="userImage">                  
                         <img src=" 
                            {% if post.userPic %}{{ strap.baseUrl }}/{{ post.userPic }}{% else %} {{ strap.baseUrl }}/public/images/default/defaultUser.png{% endif %}
                         " alt="userImage">                  
                       </div>
                       <div class="userName">
                        <a href="{{ strap.baseUrl }}/profile?id={{ post.userId }}">{{ post.name }}</a>  
                        <small> {{  post.creation|time_diff("now") }}</small>     
                       </div>
                     </div>                                      
                   <div class="post_content">
                        <div class="postPics">
                          {% for pic in post.pics %}
                            <img class="postPic" src="{{ strap.baseUrl ~ pic.path }}" alt="picPath">
                          {% endfor %}
<!--prikaz slika za post-->                          
                        </div>
                       <div class="tekst">
                           {{ post.tekst }}
                       </div>
                       <div class="interact">
                           <button class="postBtn commentBtn" data-postId="{{ post.ownId }}" onclick="focusOnText(this)"><span>comment</span>
                           </button>
                           <button class="postBtn likeBtn 
                           {% if (post.liked) %}liked
                            {% else %}noLike{% endif %}" 
                            data-contentId="{{ post.ownId }}">
                              <img class="likeIcon" src="{{ strap.baseUrl }}/public/images/icons/like.png" alt="iconL">  
                           <span></span>
                          </button>
                       </div>
                   </div>

<!--komentari-->            
                   <div class="comments" data-contentid="{{ post.ownId }}">

                        {% for opinion in post.comments %}
                            <div class="opinion">
                              <div class="userImage">
                                <img src="{% if opinion.userImage %}

                                            {{ strap.baseUrl }}
                                            {{ opinion.userImage }}
                                          {% else %} {{ strap.defaultUser }}  
                                          {% endif %}
                                " alt="user image">
                              </div>
                              <div class="commentInfo">
                                 <div class="userName">
                                  <a href="{{ strap.baseUrl }}/profile?id={{ opinion.userId }}">{{ opinion.username }}</a>
                                 </div>             
                                 <div class="comment_content">                                 
                                   <div class="tekst">
                                    {{ opinion.tekst }}
                                   </div>
                                 </div>                              
                                 <div class="commentInteraction">
<!--gumb za like nekog komentara-->
                                    <button class="likeBtn {% if opinion.liked %}liked{% else %}noLike{% endif %}" data-contentId="{{ opinion.ownId }}">
                                      <span></span>
                                    </button> 
                                    <button class="replyBtn" data-contentid="{{ opinion.ownId }}">reply</button> 
                                    <span><small>{{  opinion.creation|time_diff("now") }}</small>  </span>
                                 </div>
                              </div>

              <!--REPLIES-->  
                              <div class="replies" data-contentid="{{ opinion.ownId }}">
                                {% for reply in opinion.replies %}
                                    <div class="reply">
                                      <div class="userImage">
                                        <img src="{% if reply.userImage %}
                                                    {{ strap.baseUrl }}
                                                    {{ reply.userImage }}
                                                  {% else %}{{ strap.baseUrl }}/public/images/default/defaultUser.png
                                                  {% endif %}" 
                                      alt="user image">
                                      </div>
                                      <div class="commentInfo">
                                        <div class="userName">
                                        <a href="{{ strap.baseUrl }}/profile?id={{ opinion.userId }}">{{ reply.username }}</a>       
                                        </div>             
                                        <div class="comment_content">                                 
                                          <div class="tekst">
                                            {{ reply.tekst }}
                                          </div>
                                        </div>                              
                                        <div class="commentInteraction">
           <!--gumb za like nekog reply-ja-->
                                           <button href="#" class="likeBtn  {% if reply.liked %}liked{% else %}noLike{% endif %}" data-contentId="{{ reply.ownId }}">
                                             <span></span>
                                           </button>
                                           <button class="replyBtn" data-contentId="{{ opinion.ownId }}">reply</button>
                                        </div>
                                      </div>
                                    </div>
                                {% endfor %}

                  <!--reply na komentar-->    
                                <div class="reply hide">
                                  <div class="userImage">
                                    <img src="{% if strap.member.user_image %}
                                    {{ strap.baseUrl }}/{{ strap.member.user_image }}
                                    {% else %}{{ strap.baseUrl }}/public/images/default/defaultUser.png
                                    {% endif %}" 
                                      alt="user image">
                                  </div>
                                  <div class="replyAreaContainer">                                    
                                    <textarea class="replyArea" data-contentid="{{ opinion.ownId }}" cols="30" rows="2" placeholder="reply"></textarea>
                                  </div>                                 
                                </div> 
                  <!--reply na komentar-->                             
                              </div>
                            </div>
                        {% endfor %} 
                  <!-- komentiraj post -->      
                        <div class="komentisi">
                          <div class="opinion">
                            <div class="userImage">
                              <img src="
                              {% if strap.member.user_image %}
                                {{ strap.baseUrl }}/{{ strap.member.user_image }}
                              {% else %}
                                {{ strap.baseUrl }}/public/images/default/defaultUser.png
                              {% endif %}" 
                              alt="user_picture">
                            </div>
                            <div class="commentInfo">
                              <textarea data-contentid="{{ post.ownId }}" class="opinionArea" cols="60" rows="5" placeholder="komentiraj..."></textarea>
                            </div>
                          </div>
                        </div>
                  <!-- komentiraj post --> 
                  </div> 
               </div> 
            {% endfor %}
            </div>