<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="house_of_faces site">
    <meta name="author" content="Vladimir Sedlar">

    <title>house_of_faces | {% block title %}{% endblock %}</title>

    <!-- Latest compiled and minified CSS for bootstrap -->
    <link rel="stylesheet" href="{{ strap.baseUrl }}/api/bower_components/bootstrap/dist/css/bootstrap.css">

    <!-- jquery -->
      <script src="{{ strap.baseUrl }}/api/bower_components/jquery/dist/jquery.js"></script>

<!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!--Fonts-->

<!-- osnovni css koji se koristi na svakoj stranici -->
    <link href="{{ strap.baseUrl }}/api/views/css/basic.css" rel="stylesheet">
    <link href="{{ strap.baseUrl }}/api/views/css/includes/chat/chat.css" rel="stylesheet">

<!-- blok za potrebne stylesheete -->
    {% block customCss %} 
    {% endblock %}
    
  </head>
    <body>

      <div id="clickDiv" class="noneDisplay">  
      </div>

      <input id="identifier" type="hidden" value="{{ strap.member.uniqueId }}">

      {% include 'templates/includes/navigation/navigation.twig' %}
     
      <div class="container main_container">
        <div class="row main_row">
          {% if flash %}
          <div class="alert alert-info">
              <span class="close" data-dismiss="alert" onclick="closeAlert(this);">&times;</span>
              {{ flash }}
          </div>
          {% endif %}<!--ako postoji flash poruka prikazujemo ovdje-->
          {% block main_content %}

          {% endblock %}

<!--chat-->
          <div id="chatContainer">
            <div id="chatBox">
              <h4 id="showChat" class="title">chat</h4>
              <div id="chatAnimationWrapper">
                
                <div class="chat-list">
                </div>
              </div>
            </div>

            <div id="chat-talk" class="noneDisplay">
              <div id="chat-messages">
              </div>

              <div class="respondWrap">

                <div class="opinion">
                  <div class="userImage">
                    <img src="
                    {% if strap.member.user_image %}
                      {{ strap.baseUrl }}/{{ strap.member.user_image }}
                    {% else %}
                      {{ strap.baseUrl }}/public/images/default/defaultUser.png
                    {% endif %}" 
                    alt="user_picture">
                  </div>
                  <div class="commentInfo">
                    <textarea id="messageArea" class="messageArea" placeholder="chat..."></textarea>
                  </div>
                </div>

                <!--
                <textarea id="messageArea" cols="30" rows="10" class="messageArea"></textarea>
                -->
              </div>

              <span id="closeTalk" class="close">&times;</span>

            </div>
          </div>
<!--chat-->
       
          {% block footer %}
            <div class="col-sm-10 footer">
              footer
            </div>
          {% endblock %}
         <!--footer-->   
        </div>  

        <div id="time">
          
        </div> 

         <!--osnovne funkcije za javascript-->
         <script src="{{ strap.baseUrl }}/api/javascript/functions/basic/assignListener.js"></script>

         <script src="{{ strap.baseUrl }}/api/javascript/functions/basic/findElement.js"></script>         
         <script src="{{ strap.baseUrl }}/api/javascript/functions/basic/createElement.js"></script>     
         <script src="{{ strap.baseUrl }}/api/javascript/functions/basic/closeAlert.js"></script>     
         <script src="{{ strap.baseUrl }}/api/javascript/functions/basic/showMessage.js"></script>     
         <script src="{{ strap.baseUrl }}/api/javascript/functions/basic/regenerate_csrf.js"></script>

         <script src="{{ strap.baseUrl }}/api/javascript/functions/basic/removeClass.js"></script>           
         <script src="{{ strap.baseUrl }}/api/javascript/functions/basic/deleteElement.js"></script> 

         <script src="{{ strap.baseUrl }}/api/javascript/functions/scale/resize.js"></script>
             
         <script src="{{ strap.baseUrl }}/api/javascript/functions/ajax/ajax.js"></script>  

         <script src="{{ strap.baseUrl }}/api/javascript/functions/interact/friendRequests.js"></script>     
         <script src="{{ strap.baseUrl }}/api/javascript/functions/interact/find.js"></script>     
         <script src="{{ strap.baseUrl }}/api/javascript/functions/interact/getPicture.js"></script>  

        <!--CHAT-->      
          <script src="http://127.0.0.1:8080/socket.io/socket.io.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.1.10/buzz.min.js"></script>

          <script src="{{ strap.baseUrl }}/api/javascript/chat/chat.js"></script>
        <!--CHAT-->     
          {% block js %} 
            
          {% endblock %}
      </div>
    </body>